<form action="/Genero/Adiciona" method="post">

    <label for="descricao">Descrição:</label>
    <input id="descricao" name="genero.Descricao" value="@ViewBag.Genero.Descricao" class="form-control" />

    <input type="submit" value="Cadastrar" />
</form>